.body {
  width: 900px;
  height: 700px;
  background-color: aquamarine;
  display: flex;
  gap: 20px;
  padding: 50px;
}
.child {
  width: 100px;
  height: 100px;
  background-color: rgb(19, 160, 160);
  box-shadow: 10px 10px 10px black;
  box-shadow: 10px 10px 10px black;
}

.child:nth-child(even) {
  background-color: blue;
  align-self: flex-end;
}
